		body{background:#f0f2f5;}
    	header.mui-bar{background: #fff; padding:0px;margin: 0px;box-shadow:#c7c8c8 0px 0px 1px ;height:82px;}
    	.mui-bar .mui-input-row.mui-search.mui-active:before{top: 20px;left: 20px;}
    	.mui-bar .mui-search .mui-placeholder{  line-height:20px;left:20px;height:30px;text-align:left;border-radius:6px;}
    	.mui-bar .mui-input-row{background:#fff;border-bottom:1px solid #cdcdcd; padding:0px 15px 0px 15px; margin:0px;}
    	.mui-bar .mui-input-row .mui-input-speech ~ .mui-icon-speech{ margin-top:-1px;right:18%;}    	
    	.mui-bar .mui-input-row .mui-input-clear ~ .mui-icon-clear{right:18%;}
    	.mui-bar .mui-input-row #search{width:87%; float: left;}
    	.mui-bar #reset{width:13%;float:left; border:none; margin-top:5px; z-index: 999;}
    	.mui-bar .mui-content .mui-table-view:before,.mui-content .mui-table-view:after,.mui-content .mui-table-view .mui-table-view-cell:after{height:0;}
    	.mui-bar .hot{ background:#fff;font-size:14px;position:absolute;line-height:38px;padding-left:15px;padding-right:3px; z-index:999;}
    	.mui-bar .mui-scroll-wrapper{top:0px;padding-left:55px;}
    	
    	div.mui-content{margin-top:48px;width:100%;top:0;}
    	.mui-content h3{padding: 10px; margin: 0px; border-bottom: 1px solid #e0e0e6; background:#fff;font-size:20px; line-height:24px;font-weight:normal;}
    	.mui-content .mui-scroll-wrapper{padding:0px 10px 10px;background:#fff;margin-top:137px;}
    	.mui-content .mui-table-view{padding-right:5px; line-height:30px;}
    	.mui-content .mui-table-view .mui-table-view-cell{padding-left:5px; font-size:14px;border-bottom:1px solid #f0f0f6;}
		
		button.mui-btn-grey.mui-btn{color:#000; border-radius:3px;margin-left:3px;padding:2px 5px; font-size:14px;}
    	.mui-btn-grey{color: #fff;border: 1px solid #f0f0f6;background-color: #f0f0f6;}