@charset "utf-8";
/* CSS Document */
.cart_step{width:720px; margin:50px auto 0px auto; background:#fff; height:32px; overflow:hidden; line-height:32px; position:relative; border:#e61d47 1px solid;}
.cart_step li{float:left; width:25%; text-align:center; position:relative; z-index:2;  font-size:14px;}
.cart_step li em{position:absolute; right:-24px; top:-8px; width:0; height:0; line-height:0; border-width:24px 0 24px 24px; border-color:transparent  transparent transparent #fff; border-style:dashed dashed dashed solid;}
.cart_step li i{position:absolute; right:-16px; top:0; width:0; height:0; line-height:0; border-width:16px 0 16px 16px; border-color:transparent  transparent transparent #f5f5f5; border-style:solid solid solid solid;}
.cart_step li.current{background:#e61d47; color:#fff; z-index:1;}
.cart_step li.current i{border-color:transparent  transparent transparent #e61d47;}



.cart_table{  background:#fff; width:1200px; border-collapse:collapse; display:block;}
.cart_table thead{ background:#f5f5f5; width:1200px;}
.cart_table tbody{ border:#e6e6e6 1px solid;}
.cart_table tr td{ padding:10px 0px; text-align:center;border-bottom:#e8e8e8 1px solid; }
.cart_table tr td a{ color:#333;}
.cart_table tr td.tal{ text-align:left;}
.cart_table tr td.tar{ text-align:right;}
.cart_table tr td.bright{ border-right:#e8e8e8 1px solid;}
.cart_table.plr10 tr td{ padding:15px 10px;}
.cart_table.plr10 tr td .btn{ height:24px; line-height:24px;}
.cart_table.plr10 tr td.tal{ text-align:left;}
.cart_table .picture{ width:78px; height:78px; font-size:0px; border:#dfdfdf 1px solid; padding:1px; display:block; overflow:hidden;}
.cart_table .picture img{ width:78px; height:78px;}
.cart_table .count{ background:#f5f5f5; padding:10px 0px; display:block; width:100%; height:30px; line-height:30px; position:relative;}
.cart_table .count td{ margin:0px; padding:0px 20px; border:none;}
.cart_table .count .fr{ padding-right:180px;}
.cart_table .vtext{ font-size:13px; float:right; padding-left:20px; line-height:20px;}
.cart_table .pl20{ padding-left:20px;}
.cart_table .count .btn_pay{position:absolute; right:0px; top:0px;}
.btn-del{ font-size:18px; font-family:"宋体"; font-weight:bold; color:#ccc;}
.btn-del:hover{ color:#e61d47;}
.btn_pay{ background:#e61d47; display:inline-block; width:160px; height:50px; line-height:30px; font-size:16px; margin-left:20px;   color:#fff; line-height:50px; text-align:center;}
.lh18{ line-height:1.8;}


.amount{ border:#ddd 1px solid; height:28px; width:120px; text-align:center; display:inline-block; position:relative; overflow:hidden;}
.amount a{width:28px; height:28px; line-height:26px; font-size:20px; float:left; display:block; font-family:Arial; color:#666;}
.amount .Increase{  border-left:#ddd 1px solid; position:absolute; right:0px;}
.amount .Reduce{ position:absolute; left:0px; line-height:24px; border-right:#ddd 1px solid;}
.amount a:hover{ color:#d30830;}
.amount input{ width:62px; height:26px; padding:0px 8px; margin-left:20px; float:left;border:none; text-align:center; display:inline-block;}

.no_product{ width:1200px; }
.no_product .tit{ line-height:40px; height:40px;  display:block; width:100%; clear:both; background:#f5f5f5;}
.no_product .tit span{ font-size:14px; color:#e61d47; text-transform:uppercase; border-bottom:#e61d47 2px solid; display:inline-block; font-weight:bold; padding:0px 10px;}
.no_product ul li{ float:left; border:#e6e6e6 1px solid; width:230px; margin-top:10px; margin-right:10px;}
.no_product ul li:hover{ background:#fff; box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -moz-box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -ms-box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -o-box-shadow:rgba(0,0,0,.2) 0px 0px 4px;}
.no_product ul li .picture{ width:232px; height:232px; overflow:hidden; position:relative;}
.no_product ul li .picture img{ width:232px; height:232px; opacity: 1;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: scale(1);transform: scale(1);} 
.no_product ul li:hover .picture  img{opacity: 0.75;-webkit-transform: scale(1.05);transform: scale(1.05);}
.no_product ul li .picture .tag{ width:30px; height:40px; font:12px/30px "微软雅黑"; color:#fff; background:url(../../images/default/icon.png) no-repeat -470px 0px; display:inline-block; position:absolute; top:0px; left:0px; text-align:center;}
.no_product ul li .property{ font-size:14px; padding:5px;}
.no_product ul li .property .nowrap{ margin-bottom:5px;}
.no_product ul li .property .nowrap a{ color:#333;}
.no_product ul li .property .price{ color:#e61d47; font-size:22px; font-family:Arial, Helvetica, sans-serif}
.no_product ul li .property .price small{ font-size:14px; font-family:"微软雅黑"}
.no_product ul li .property .price s{ color:#999; font-size:13px; font-family:"微软雅黑"; margin-left:10px;}

.no_product .bd{ position:relative;  }
.no_product .prev,.no_product .next{ position: absolute; top:50%; margin-top:-18px;   display: block; width: 36px; height: 60px;  z-index: 9; overflow: hidden; background:url(../../images/default/icon.png) no-repeat; }
.no_product .prev{ background-position: 0px -100px; left:0px;}
.no_product .next{right:-1px; background-position: -41px -100px; }


.cart_border{ width:100%; display:block;}
.cart_border .tit{ background:#f5f5f5; height:40px; display:block; font-size:16px; line-height:40px; text-indent:15px; color:#333;}
.border_d{ border:#ddd 1px solid;}

.addr-list{ width:1260px; margin-right:-30px;}
.addr-list li{ width:340px; height:120px; padding:19px; border:#eee 1px solid; margin:10px 0px 0 15px; float:left; cursor:pointer; position:relative;}
.addr-list li .title{ padding-bottom:9px; line-height:20px; border-bottom:#eee 1px solid; overflow:hidden;}
.addr-list li .title .name{ font-size:14px; font-weight:bold; float:left;}
.addr-list li .title .default{ float:right;}
.addr-list li .ok{ display:none;}
.addr-list li .set{ display:none;color:#666;}
.addr-list li .set:hover{ border-bottom:#e52142 1px solid;}
.addr-list li .text-box{ margin-top:8px; color:#333; line-height:20px; height:80px;}
.addr-list li .opn{height:20px; line-height:20px; position:absolute; left:0; bottom:8px; padding-left:19px; display:none;}
.addr-list li .opn a{ color:#666; margin-right:15px;}
.addr-list li .ico-yes{ width:20px; height:20px; display: none; position:absolute; right:0px; bottom:0px; background-position:-446px -56px;}
.addr-list li.current{ background:#f5f5f5;}
.addr-list li.current .opn{ display:block;}
.addr-list li.current .set{ display:inline;}
.addr-list li.current .ok{ display:none;}
.addr-list li:hover{ background:#f5f5f5;}
.addr-list li:hover .opn{ display:block;}
.addr-list li:hover .set{ display:inline;}
.addr-list li:hover .ok{ display:none;}
.addr-list li.active{ padding:17px; border:#e61d47 3px solid;}
.addr-list li.active .ico-yes{ display:block;}
.addr-list li.is_default .set{ display:none;}
.addr-list li.is_default .ok{ display:inline;}
.addnew{ padding:15px; font-size:14px;}
.addnew a{ color:#e61d47;}

.order_table{ margin:0px auto;}
.order_table td{ padding:10px; line-height:20px;}
.order_table .product_info{ vertical-align:middle; display:flex;}
.order_table .product_info .picture{ float:left; width:50px; height:50px; border:#ddd 1px solid; padding:2px; display:inline-block; margin-right:15px;} 
.order_table .product_info .picture img{ width:50px; height:50px;}
.order_table .product_info p{ margin-top:8px;}
.order_table .product_info p a{ color:#333;}
.way_ul{ margin:0px 20px;}
.way_ul li{ padding:10px 0px; font-size:14px; border-bottom:#ddd 1px solid;}
.way_ul li input{ float:left; vertical-align:middle; margin-top:4px; margin-right:10px;}
.way_ul li:last-child{ border-bottom:none;}
.cart_conunt{ text-align:right; line-height:24px; margin-top:10px; font-size:13px;}
.cart_conunt p{ color:#666;}
.cart_conunt p span{ color:#333; font-weight:bold;}
.cart_repeat{ line-height:20px;}
.cart_repeat .bar{ border-bottom:#ddd 1px solid; padding-bottom:15px; margin-bottom:10px;}
.cart_repeat .bar h3{ font-size:18px; color:#333; font-weight:normal;}
.cart_repeat .bar h3 span{ display:block; font-size:12px; color:#666;}
.cart_repeat .bar .price{ font-size:13px; color:#333; margin-top:15px;}
.cart_pay{ padding:30px;}
.cart_pay .balance_pay{ font-size:16px; border-bottom:#ddd 1px solid; padding-bottom:15px; margin-bottom:15px;}
.cart_pay .balance_pay input{ float:left; margin-top:5px; margin-right:5px;}
.cart_pay .balance_pay span{ font-size:14px; margin-left:50px;}
.bank_pay{}
.bank_pay .hd{ border-bottom:#9cbce3 1px solid; height:50px;}
.bank_pay .hd ul li{ float:left; border:#9cbce3 1px solid; min-width:130px; text-align:center; border-top-left-radius:4px;  border-top-right-radius:4px; margin-right:15px;  font-size:16px; line-height:47px; padding:1px; border-bottom:none; cursor:pointer; position:relative; display:inline-block; background:#fff;}
.bank_pay .hd ul li.on{ border:#9cbce3 2px solid; padding:0px; line-height:48px; border-bottom:transparent 1px solid; color:#9cbce3}
.bank_pay .bd{ padding-bottom:20px;}
.checkbox_item{}
.checkbox_item dd{width:157px;min-height: 42px; border: #ddd 1px solid; padding:1px; float:left; font-size:14px; color:#666; line-height:42px; text-align:center; position:relative; cursor:pointer; margin-right:15px; background:#fff; margin-top:20px;}
.checkbox_item dd img{width:100%;heigth:40px;}
.checkbox_item dd.clickdd{ color:#ff7900; border:#e61d47 2px solid; padding:0px;}
.checkbox_item dd.clickdd:after{background:url(../../images/default/icon.png) no-repeat -446px -56px; width:20px; height:20px; display:inline-block; content:''; position:absolute; right:-2px; bottom:-2px;}
.cart_success{ font-size:16px; color:#333; line-height:26px; margin:70px auto;}
.cart_success span.icon{ width:60px; height:50px; display:inline-block; background-position:-92px -100px; float:left; margin-right:15px; margin-left:460px;}
.cart_success .btn{ width:120px; height:36px; border:#dedede 1px solid; display:inline-block; text-align:center; line-height:36px; color:#666;}

.log_box{ float:left; padding:0px 100px; width:430px; margin-top:75px;}
.log_box h3{ font-size:14px; font-weight:bold; margin-bottom:10px;}
.log_form li{ font-size:14px; margin-bottom:25px;}
.log_form li .log_txt{ position:relative; width:270px; height:30px; padding:5px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px; border:#b2b2b2 1px solid;}
.log_form li label{ margin-right:40px; vertical-align:middle;}
.log_form li label input{ float:left; margin-top:6px; margin-right:5px;}

.log_img{ width:460px; height:460px; float:right; margin:75px 100px 0px 0px;}
.btn_r{ width:130px; height:38px; display:inline-block; font:16px/38px "微软雅黑"; background:#e61d47; text-align:center; color:#fff; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px; -ms-border-radius:2px;}
.btn_r .fb_icon{ width:15px; height:17px; display:inline-block; background-position:-462px -100px; vertical-align:middle; margin-right:5px;}

.other_log{}
.other_log a{ background:url(../../images/default/icon.png) no-repeat; width:30px; height:32px; display:inline-block; margin-right:10px; margin-top:10px;}
.other_log .weibo_icon{ background-position:-163px -100px; }
.other_log .qq_icon{ background-position:-203px -100px; }
.other_log .wechat_icon{ background-position:-243px -100px; }
.log_box .getyzm{ height:42px; padding:0px 10px; line-height:42px; width:90px; text-align:center; background:#e5e5e5; display:inline-block; color:#333; font-size:12px; border-radius:2px; -webkit-border-radius:2px; -moz-border-radius:2px;}


.reg_form li{ font-size:14px; margin-top:20px;}
.reg_form li .input_box{ position:relative;}
.reg_form li .input_box em{ position:absolute; left:10px; top:50%; transform:translateY(-50%); -webkit-transform:translateY(-50%);  width:20px; height:20px;}
.reg_form li .code{ border:#dedede 1px solid; float:right; width:98px; height:36px;}
.reg_form li .get_yzm{ width:98px; text-align:center; color:#fff; line-height:36px; font-size:12px; height:36px; background:#ff7900; border:#e06a00 1px solid;}
.reg_form li .fail{ background:#f2f2f2; border:#dedede 1px solid; color:#666;}

.member_head{ height:80px; background:#e61d47;}
.member_head .logo{ margin-top:17px; float:left;}
.member_head ul{ float:left; margin-left:130px;}
.member_head ul li{ float:left; display:block; min-width:100px; margin-right:80px;}
.member_head ul li a{ float:left;  position:relative; line-height:80px;  color:#fff; font-size:18px; text-align:center;}
.member_head ul li a.current:after{ content:''; position:absolute; bottom:0px; left:50%; background:url(../../images/default/icon.png) no-repeat -283px -100px; width:14px; height:7px; display:inline-block; transform:translateX(-50%); -webkit-transform:translateX(-50%); -moz-transform:translateX(-50%);}
.member_left{ width:190px; float:left}
.member_right{ width:990px; float:right}

.box_shadow{ box-shadow:#ebebeb 1px 0px 3px;  -webkit-box-shadow:#ebebeb 1px 0px 3px; -moz-box-shadow:#ebebeb 1px 0px 3px; -ms-box-shadow:#ebebeb 1px 0px 3px;}
.m_border{ border:#ebebeb 1px solid; padding:29px;}
.member_nav{ border:#ebebeb 1px solid; padding:19px;}
.member_nav dl dt{ line-height:15px; padding:7px 0px; border-bottom:#ebebeb 1px solid; font-size:14px; font-weight:bold; position:relative;}
.member_nav dl dt em{ width:15px; height:15px; display:inline-block; background-position:-307px -100px; position:absolute; right:0px;}
.member_nav dl dd{ line-height:26px; margin-top:5px;}
.member_nav dl dd a{ display:block; color:#666; font-size:13px;}
.member_nav dl dd a:hover{color:#e61d47;}
.member_nav dl dd a.current{ color:#e61d47; font-weight:bold;}

.member_headline{ border:#ebebeb 1px solid;position: relative;}
.member_headline .info{ padding:30px; width:420px; min-height:96px; border-right:#ebebeb 1px solid; line-height:32px; color:#999;  float:left;}
.member_headline .info img{ float:left; margin-right:15px;}
.member_headline .info a{ display:block; color:#2272c8}
.member_headline .info b{ display:block; font-size:14px; color:#333;}
.member_headline .short{ float:left; width:500px; }
.member_headline .short li{ float:left; width:33.3%; text-align:center; padding-top:30px; font-size:14px; }
.member_headline .short li b a{color:#333;}
.member_headline .short li b a:hover{color:#e61d47;}
.member_headline .short li span{ display:block; font-size:18px; font-weight:bold; padding:10px 0px;}
.member_headline .short1{ float:left; width:100%; }
.member_headline .short1 li{ float:left; width:25%; text-align:center; padding-top:20px; padding-bottom:20px; font-size:14px; }
.member_headline .short1 li span{ display:block; font-size:18px; font-weight:bold; padding:10px 0px;}
.member_headline .short1 li .m_btn{  padding:5px 5px;}

.m_btn{ min-width:60px; height:22px; border:#e61d47 1px solid; color:#e61d47; text-align:center; line-height:22px; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; -ms-border-radius:3px; display:inline-block;}
.m_btn.gray{ border:#b3b3b3 1px solid; color:#b3b3b3;}
.m_btn.purple{ border:#e61d47 1px solid; background:#e61d47; color:#fff;}

.member_surplus{margin:25px 0;}
.member_surplus div{float:left;}
.member_surplus>div{width:45%;background:#f0f0f0;font-size:36px;color:#333;text-align:center;line-height:100px;}
.member_surplus>div div img{width:54px;height:65px;float:left;}
.member_surplus>div div{padding:17px 0 18px 20px;line-height:65px;}
.member_surplus>div p{float:right;padding:17px 0 18px;width:100px;line-height:65px;text-align:center;font-size:16px;color:#333;border-left:1px solid #d9d9d9;}
.member_surplus>div:last-of-type{float:right;}
.member_recharge{margin-bottom:20px;}
.member_recharge>div{width:210px; height:220px;float:left;background:#f0f0f0;text-align:center;padding-top:25px;margin-right:29px;}
.member_recharge>div:last-of-type{margin-right:0;}
.member_recharge>div p{color:#333;line-height:33px;font-size:18px;margin-bottom: 35px;}
.member_recharge>div p img{width:27px;height:33px;margin-right:15px;}
.member_recharge>div span{display:block;font-size:30px;color:#333;}
.member_recharge>div a{background:#e61d47;color:#fff;height:25px;width:70px;display:inline-block;border-radius:3px;line-height:25px;margin-top:50px;}
.member_integral_select{padding:60px 0;}
.member_integral_select>div{float:left;}
.member_integral_select .input_box{margin:60px;position:relative;width:262px;text-align:center;}
.member_integral_select .input_box input{height:40px;width:210px;border:1px solid #d9d9d9;padding:0 40px 0 10px;font-size:14px;color:#999;border-radius:3px;}
.member_integral_select .input_box i{position:absolute;width:20px;height:20px;top:10px;right:10px;}
.member_integral_select .input_box i img{width:100%;height:100%;display:block;}
.member_integral_select button{display:inline-block;border:none;border-radius:3px;margin:20px auto 0;line-height:35px;width:100px;padding:0;background:#e61d47;color:#fff;}
.member_integral_select .tit{float:right;text-align:center;}
.member_integral_select .tit .txt{background:#fff8db;height:90px;width:320px;text-align:left;padding:30px 90px;position:relative;}
.member_integral_select .tit .txt p{float:left;width:50%;line-height:44px;}
.member_integral_select .tit button:first-of-type{margin-right:65px;}
.member_integral_select .tit 	i{display:block;border:25px solid #fff8db;border-left:none;border-bottom-color:rgba(0,0,0,0);border-top-color:rgba(0,0,0,0);left:-20px;position:absolute;top:50%;margin-top:-25px;}
.opover_recharge.active{display:block;}
.opover_recharge{display:none;background:rgba(0,0,0,0.3);position:fixed;z-index:99;top:0;left:0;width:100%;height:100%;}
.opover_recharge>img{width:578px;height:646px;position:absolute;top:50%;left:50%;margin-left:-289px;margin-top:-346px;}
.opover_recharge>div{text-align:center;width:578px;padding-top:100px;height:646px;position:absolute;top:50%;left:50%;margin-left:-289px;margin-top:-346px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.opover_recharge>div .close_btn{float:right;margin-right:-30px;margin-top:-30px;height:49px;width:49px;}
.opover_recharge>div label{width:35%;float:left;text-align:right;font-size:16px;line-height:36px;color:#333;}
.opover_recharge>div input{float:left;margin-left:10px;height:36px;border-radius:5px;border:none;width:240px;text-align:center;font-size:14px;}
.opover_recharge>div p{float:right;width:72%;text-align:left;margin-right:-10px;font-size:14px;color:#333;}
.opover_recharge>div p a{color:#333;}
.opover_recharge>div div{width:100%;float:left;margin-bottom:20px;}
.opover_recharge>div div div.button{width:auto;margin-left:35%;padding-left:10px;}
.opover_recharge>div button{border-radius:0;background:#fff;border:none;font-size:18px;color:#333;line-height:36px;width:180px;border-radius:6px;float:left;}
.opover_recharge>div .title{font-size:42px;position:absolute;bottom:80px;font-weight:bold;color:#333;}
.opover_deduction.active{display:block;}
.opover_deduction{background:rgba(0,0,0,0.3);position:fixed;z-index:99;top:0;left:0;width:100%;height:100%;display:none;}
.opover_deduction>img{width:578px;height:646px;position:absolute;top:50%;left:50%;margin-left:-289px;margin-top:-346px;}
.opover_deduction>div{text-align:center;width:578px;padding-top:50px;height:646px;position:absolute;top:50%;left:50%;margin-left:-289px;margin-top:-346px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.opover_deduction>div .close_btn{float:right;margin-right:-30px;margin-top:-30px;height:49px;width:49px;}
.opover_deduction>div label{width:35%;float:left;text-align:right;font-size:16px;line-height:36px;color:#333;}
.opover_deduction>div input{float:left;margin-left:10px;height:36px;border-radius:5px;border:none;width:240px;text-align:center;font-size:14px;}
.opover_deduction>div .select-box select{width:240px;float:left;margin-left:10px;border:none;height:36px;line-height:36px;font-size:14px;border-radius:5px;text-align:center;}
.opover_deduction>div textarea{resize: none;float:left;margin-left:10px;height:60px;border-radius:5px;border:none;width:230px;padding:10px 5px;text-align:left;font-size:14px;}
.opover_deduction>div p{float:right;width:65%;text-align:left;margin-right:-10px;font-size:14px;color:#333;}
.opover_deduction>div p a{color:#333;}
.opover_deduction>div div{width:100%;float:left;margin-bottom:19px;}
.opover_deduction>div div.phone_pwd button{width:100px;height:36px;background:#fff;border:none;border-radius:5px;font-size:14px;float:left;margin-left:10px;}
.opover_deduction>div div.phone_pwd input{width:130px;height:36px;background:#fff;border:none;}
.opover_deduction>div div div.button{width:auto;margin-left:35%;padding-left:10px;margin-bottom:0;color:#333;}
.opover_deduction>div div.button button{background:#fff;border:none;font-size:18px;color:#333;line-height:36px;width:240px;border-radius:6px;float:left;}
.opover_deduction>div .title{font-size:42px;position:absolute;bottom:80px;font-weight:bold;color:#333;}
.opover_return.active{display:block;}
.opover_return{background:rgba(0,0,0,0.3);position:fixed;z-index:99;top:0;left:0;width:100%;height:100%;display:none;}
.opover_return>img{width:578px;height:646px;position:absolute;top:50%;left:50%;margin-left:-289px;margin-top:-346px;}
.opover_return>div{text-align:center;width:578px;padding-top:50px;height:646px;position:absolute;top:50%;left:50%;margin-left:-289px;margin-top:-346px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
.opover_return>div .close_btn{float:right;margin-right:-30px;margin-top:-30px;height:49px;width:49px;}
.opover_return>div label{width:35%;float:left;text-align:right;font-size:16px;line-height:36px;color:#333;}
.opover_return>div input{float:left;margin-left:10px;height:36px;border-radius:5px;border:none;width:240px;text-align:center;}
.opover_return>div p{float:right;width:65%;text-align:left;margin-right:-10px;font-size:14px;color:#333;}
.opover_return>div p a{color:#333;}
.opover_return>div div{width:100%;float:left;margin-bottom:20px;}
.opover_return>div div div.button{width:auto;margin-left:35%;padding-left:10px;}
.opover_return>div .select-box select{width:240px;float:left;margin-left:10px;border:none;height:36px;line-height:36px;font-size:14px;border-radius:5px;text-align:center;}
.opover_return>div textarea{resize: none;float:left;margin-left:10px;height:80px;border-radius:5px;border:none;width:230px;padding:10px 5px;text-align:left;font-size:14px;}
.opover_return>div button{border-radius:0;background:#fff;border:none;font-size:18px;color:#333;line-height:36px;width:180px;border-radius:6px;float:left;}
.opover_return>div .title{font-size:42px;position:absolute;bottom:80px;font-weight:bold;color:#333;}

@media only screen and (min-height: 100px) and (max-height: 800px) {
	.opover_recharge>img{width:438px;height:506px;position:absolute;top:50%;left:50%;margin-left:-219px;margin-top:-256px;}
	.opover_recharge>div{text-align:center;width:438px;padding-top:50px;height:506px;position:absolute;top:50%;left:50%;margin-left:-219px;margin-top:-263px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
	.opover_deduction>img{width:438px;height:506px;position:absolute;top:50%;left:50%;margin-left:-219px;margin-top:-256px;}
	.opover_deduction>div{text-align:center;width:438px;padding-top:50px;height:506px;position:absolute;top:50%;left:50%;margin-left:-219px;margin-top:-263px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
	.opover_return>img{width:438px;height:506px;position:absolute;top:50%;left:50%;margin-left:-219px;margin-top:-256px;}
	.opover_return>div{text-align:center;width:438px;padding-top:50px;height:506px;position:absolute;top:50%;left:50%;margin-left:-219px;margin-top:-263px;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
	.opover_recharge>div div{width:100%;float:left;margin-bottom:8px;}
	.opover_deduction>div div{width:100%;float:left;margin-bottom:8px;}
	.opover_return>div div{width:100%;float:left;margin-bottom:8px;}
	.opover_recharge>div .title{font-size:42px;position:absolute;bottom:70px;font-weight:bold;color:#333;}
	.opover_deduction>div .title{font-size:42px;position:absolute;bottom:70px;font-weight:bold;color:#333;}
	.opover_return>div .title{font-size:42px;position:absolute;bottom:70px;font-weight:bold;color:#333;}
	.opover_recharge>div label{width:28%;float:left;text-align:right;font-size:16px;line-height:36px;color:#333;}
	.opover_deduction>div label{width:28%;float:left;text-align:right;font-size:16px;line-height:36px;color:#333;}
	.opover_return>div label{width:28%;float:left;text-align:right;font-size:16px;line-height:36px;color:#333;}
	.opover_deduction>div div div.button{width:auto;margin-left:28%;padding-left:10px;}
	.opover_recharge>div div div.button{width:auto;margin-left:28%;padding-left:10px;}
	.opover_return>div div div.button{width:auto;margin-left:28%;padding-left:10px;}
	
}

.member_title{ border-bottom:#e8e8e8 1px solid; line-height:40px; display:block; height:40px;}
.member_title .bt{ float:left; border-bottom:#e61d47 3px solid; line-height:38px; font-size:16px; font-weight:bold; color:#333;}
.member_title .more{ float:right; color:#666; font-size:14px;}
.member_table{ border-collapse:collapse;}
.member_table thead{ background:#f5f5f5; height:30px; line-height:30px; color:#000; margin-bottom:10px;}
.member_table thead td,.member_table thead th{ padding:0px 10px;}
.member_table thead td.bj{ background:#fff; line-height:10px;}
.member_table tbody{ border:#ebebeb 0px solid; }
.member_table tbody td{ padding:10px; font-size:13px; color:#333; line-height:16px; border-bottom:#e8e8e8 1px solid}
.member_table tbody th{ font-weight:normal; background:#f5f5f5; line-height:35px; padding:0px 10px; color:#000}
.member_table .info{ width:315px; vertical-align:middle; line-height:24px;overflow: hidden;word-break: break-all;}
.member_table .info img{ float:left; width:60px; height:60px; margin-right:10px; vertical-align:middle;}
.member_table .info a{ color:#333;}

.member_table p{ margin-bottom:5px;}
.member_product{ position:relative; width:930px;}
.member_product ul{ width:950px;}
.member_product ul li{ float:left; border:#e6e6e6 1px solid; width:220px; margin-top:14px; margin-right:14px;}
.member_product ul li:hover{ background:#fff; box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -webkit-box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -moz-box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -ms-box-shadow:rgba(0,0,0,.2) 0px 0px 4px; -o-box-shadow:rgba(0,0,0,.2) 0px 0px 4px;}
.member_product ul li .picture{ width:222px; height:222px; overflow:hidden; position:relative;}
.member_product ul li .picture img{ width:222px; height:222px; opacity: 1;-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;transition: opacity 0.35s, transform 0.35s;-webkit-transform: scale(1);transform: scale(1);} 
.member_product ul li:hover .picture  img{opacity: 0.75;-webkit-transform: scale(1.05);transform: scale(1.05);}
.member_product ul li .picture .tag{ width:30px; height:40px; font:12px/30px "微软雅黑"; color:#fff; background:url(../../images/default/icon.png) no-repeat -470px 0px; display:inline-block; position:absolute; top:0px; left:0px; text-align:center;}
.member_product ul li .property{ font-size:14px; padding:5px;}
.member_product ul li .property .nowrap{ margin-bottom:5px;}
.member_product ul li .property .nowrap a{ color:#333;}
.member_product ul li .property .price{ color:#e61d47; font-size:22px; font-family:Arial, Helvetica, sans-serif}
.member_product ul li .property .price small{ font-size:14px; font-family:"微软雅黑"}
.member_product ul li .property .price s{ color:#999; font-size:13px; font-family:"微软雅黑"; margin-left:10px;}
.member_product ul li .property .btn{ text-align:center; border-top:#ebebeb 1px solid; padding:10px 0px; }
.member_product ul li .property .btn a{ margin:0px 5px;}
.member_product .bd{ position:relative;  }
.member_product .prev,.member_product .next{ position: absolute; top:50%; margin-top:-18px;   display: block; width: 36px; height: 60px;  z-index: 9; overflow: hidden; background:url(../../images/default/icon.png) no-repeat; }
.member_product .prev{ background-position: 0px -100px; left:0px;}
.member_product .next{right:-1px; background-position: -41px -100px;  }

.member_tab{}
.member_tab .hd{ border-bottom:#e8e8e8 1px solid; height:34px; line-height:32px;  position:relative; }
.member_tab .hd ul{ float:left; position:absolute; left:0px; top:-1px;    }
.member_tab .hd ul li{ float:left; text-align:center; width:118px; cursor:pointer; font-size:14px; color:#666;   border:transparent 1px solid; background:#fff;}
.member_tab .hd ul li.on{ border:#e8e8e8 1px solid; border-bottom:#fff 1px solid; line-height:34px;  background:#fff;   color:#e61d47; }
.delete_cuont{ font-size:13px; padding-left:11px;}
.delete_cuont a{ margin-left:20px; color:#f5a100}
.delete_cuont .delete_icon{ width:13px; height:14px; display:inline-block; background-position:-332px -100px; margin-right:5px; vertical-align:-1px;}
.CheckBoxNoSel{ background: url("../../images/default/icon.png") no-repeat -379px -100px; width:14px; height:14px; display:inline-block; cursor:pointer} 
.CheckBoxSel{ background: url("../../images/default/icon.png") no-repeat -355px -100px; width:14px; height:14px; display:inline-block;} 

.m_order_head{ background:#fffdee; border:#edd28b 1px solid; padding:5px 15px; font-size:12px; color:#666; height:auto; line-height:30px; overflow:hidden;}
.m_order_head ul{ border-bottom:#e5dfc1 1px dotted; height:auto; overflow:hidden; width:100%; padding-bottom:10px; margin-top:10px; display:block; clear:both;}
.m_order_head ul li{ float:left; width:33%; font-size:14px; color:#666;} 
.m_order_head .btn{ padding:0px 15px; background:#e61d47; display:inline-block; color:#fff; border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px;}
.m_title{ font:16px/20px "微软雅黑"; color:#f5a100; padding-bottom:10px;}
.m_title span{ height:16px; width:3px; display:inline-block; background:#f5a100; vertical-align:middle; margin-right:5px;}
.m_order_adder{ border:#eaebeb 1px solid;}
.m_order_adder p{ border-bottom:#e8e8e8 1px dotted; padding:10px 15px; line-height:26px; font-size:13px; color:#666; clear:both; display:block; height:auto; overflow:hidden;}
.m_order_adder p span{ color:#000; display:block;}
.m_order_adder p:last-child{ border-bottom:none;}

.xm-select{display:block;width:180px;margin-right:14px}
.xm-select label{position:absolute;right:5px;top:10px;z-index:1;width:16px;height:16px;color:#b0b0b0;cursor:pointer;pointer-events:none; background:url(../../images/default/icon.png) no-repeat -402px -99px;}
.xm-select select{-webkit-box-sizing:border-box;box-sizing:border-box;width:100%;max-width:100%;min-width:100%;height:30px;margin:0;border:0;padding:0 8px;-webkit-appearance:none;-moz-appearance:none;appearance:none;font-size:13px;font-weight:400;line-height:30px;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;_zoom:1;vertical-align:middle;background:none;color:#666;outline:none;cursor:pointer}
.xm-select .dropdown{position:relative;display:block;overflow:hidden;_zoom:1;width:100%;max-width:100%;height:30px;border:1px solid #eaebeb;background:#fff;color:#333;-webkit-transition:border-color 0.2s linear;transition:border-color 0.2s linear}
.xm-select:hover .dropdown{border-color:#b0b0b0}
.xm-ie-select label{display:none}
.xm-ie-select select{-webkit-box-sizing:content-box;box-sizing:content-box;width:96%;max-width:96%;min-width:96%;height:20px \9;padding:0 1%}
.xm-ie-select .dropdown{height:25px;*height:24px;padding-top:5px;*padding-top:8px;*border:0}

.m_order_logistics{ border:#e8e8e8 1px solid; line-height:26px; font-size:13px;}
.m_order_logistics ul li{border-bottom:#e8e8e8 1px dotted; padding:10px 15px 10px 85px;  color:#666; clear:both; display:block; height:auto; overflow:hidden; position:relative;}
.m_order_logistics ul li span{ color:#000; display:inline-block; width:80px; text-align:right; position:absolute; left:0px;}
.m_order_logistics ul li:last-child{ border-bottom:none;}

.m_form{ margin-top:30px; padding-left:50px;}
.m_form li{ display:block; clear:both; padding-bottom:20px; height:auto; overflow:visible; font-size:14px; line-height:30px;}
.m_form li span{ font-size:14px; color:#333; float:left; display:block; width:100px; text-align:right; padding-right:5px; line-height:30px;}
.m_form li .tip{ font-size:13px; color:#999; line-height:34px; margin-left:10px; display:inline-block;}
.m_form li .icon{ vertical-align:middle; }
.m_form .input_txt {width: 260px;height: 32px; border: #e8e8e8 1px solid; padding: 0px 10px; float:left; font-size:14px; color:#666;   border-radius: 2px;-webkit-border-radius: 2px;-moz-border-radius: 2px; -ms-border-radius: 2px;}
.m_form .input_txt.w160{ width:160px;}
.m_form .textarea_txt {width:475px;height:75px; border: #e8e8e8 1px solid; padding:10px; float:left; font-size:14px; color:#666;}
.m_form li.w5{ float:left; width:50%; display:inline-block; clear:none;}
.m_form li .up_img{ position:relative; display:inline-block; float:left; margin-right:35px; }
.m_form li .up_img img{ width:103px; height:103px; border:#dedede 1px solid;}
.m_form li .up_img .close{ width:26px; height:26px; display:block; background:#ff7500; font:16px/26px Arial, Helvetica, sans-serif; color:#fff; position:absolute; top:-10px; right:-10px; text-align:center;}
.m_form li .code{ border:#dedede 1px solid; float:right; width:98px; height:32px;}
.m_form li .get_yzm{ width:98px; text-align:center; color:#fff; line-height:32px; font-size:12px; height:32px; background:#e61d47; border:#e54c9e 1px solid;}
.m_form li .fail{ background:#fff; border:#e8e8e8 1px solid; color:#666;}
.m_form .moblie_icon{ background-position:-418px -100px; width:13px; height:19px; display:inline-block; }
.m_form .moblie_icon_y{ background-position:-439px -100px; width:13px; height:19px; display:inline-block; }
.m_form .xm-select{ float:left; width:140px;}
.m_form .bank_pay .hd { height: 36px; position:relative; border-bottom:none;}
.m_form .bank_pay .hd:after{ position:absolute; bottom:-1px; left:105px; content:''; height:1px; width:770px; background:#9cbce3; display:inline-block; z-index:-1}
.m_form .bank_pay .hd ul li{ float:left; display:inline-block; clear:inherit; line-height:33px;}
.m_form .bank_pay .hd ul li.on { border: #9cbce3 2px solid; padding: 0px; line-height: 34px; border-bottom: transparent 1px solid; color: #9cbce3;}
.m_form .bank_list{}
.m_form .bd{ padding-left:105px; display:block; clear:both;} 

.m_check{}
.m_check dd{ margin-right:30px; float:left;}
.m_check dd span{ width:14px; float:left; margin-top:8px;}
.m_picture{ float:left; margin-left:70px; margin-top:80px; width:120px; text-align:center; }
.m_picture h5{ font-size:14px; color:#333; margin-bottom:10px;}
.m_picture a{ width:120px; height:120px; position:relative; display:block;}
.m_picture a img{ width:118px; height:118px; border:#e8e8e8 1px solid;}
.m_picture a span{display:block; width:100%; height:28px; background:rgba(0,0,0,.5); position:absolute; bottom:-28px; left:0px; line-height:28px; color:#fff;bottom:-28px;transition:bottom 0.2s;-moz-transition:bottom 0.2s; -webkit-transition:bottom 0.2s; -o-transition:bottom 0.2s;}
.m_picture a span i{ width:18px; height:14px; display:inline-block; background-position:-209px 0px; vertical-align:middle; margin-left:5px;}
.file_input{ width:105px; height:105px; position:relative; cursor:pointer; display:inline-block; background:url(../../images/default/file_input.png) no-repeat; overflow:hidden;}
.file_input input{position: absolute; right: 0;top: 0; opacity: 0; filter: alpha(opacity=0); font-size:100px; cursor: pointer}
.m_picture .file_input:hover span{bottom:0px;transition:bottom 0.2s;-moz-transition:bottom 0.2s; /* Firefox 4 */-webkit-transition:bottom 0.2s; /* Safari and Chrome */-o-transition:bottom 0.2s; /* Opera */}

.start {position:relative;width:380px;height:24px; margin:0px auto 0; float:left;}
.start i {float:left;height:19px;line-height:19px; width:auto;}
.start dl{margin:0 10px;}
.start dd{float:left;width:24px;height:22px;text-indent:-9999px;background:url('../../images/default/star1.png') no-repeat;cursor:pointer; display:inline-block; }
.start dd.on{background-position:0 -28px;}
.start p {background:url('../../images/default/icon.gif') no-repeat;padding:10px 10px 0;position:absolute;top:15px;width:159px;height:60px;z-index:100; }
.start p em {color: #FF6600;display: block;font-style: normal;}
.start strong {color:#ff6600;padding-left:10px;}
.hidden{display:none;}

.m_comment{}
.m_comment .info{ line-height:20px; background:url(../../images/default/order_bg.png) no-repeat; width:400px; height:82px; padding:10px 18px 10px 10px}
.m_comment .info .picture{ width:80px; height:80px; float:left; margin-right:15px;}
.m_comment .info a{ color:#000; font-size:13px;}
.m_comment .info P{ color:#999999; font-size:12px; margin-top:10px;}
.m_comment .info s{ display:block; color:#999; font-size:12px; text-decoration:line-through; margin-top:5px;}
.m_comment .from{  width:480px; font-size:14px; color:#666;}
.m_comment .from ul li{ padding-bottom:20px; display:block; clear:both; height:auto; }
.m_comment .from ul li span{ float:left; width:70px; text-align:right; color:#333;}
.m_comment .from ul li label{ width:75px; float:left;}
.m_comment .from ul li label input{ vertical-align:-1px;}
.m_comment .from ul li .input_m{ width:370px; height:100px; border:#e8e8e8 1px solid; padding:10px;}
.m_comment .from ul li .up_img{ position:relative; display:inline-block; float:left; margin-right:35px; }
.m_comment .from ul li .up_img img{ width:103px; height:103px; border:#dedede 1px solid;}
.m_comment .from ul li .up_img .close{ width:22px; height:22px; display:block; background:#f5a100; font:16px/22px Arial, Helvetica, sans-serif; color:#fff; position:absolute; top:-10px; right:-10px; text-align:center; border-radius:100%; -webkit-border-radius:100%;  -moz-border-radius:100%; text-align:center;}

.m_notice{}
.m_notice dl{ border-bottom:#e5e5e5 1px solid; padding:15px 0px; font-size:13px; display:block; }
.m_notice dl dt{ font-size:13px; color:#999; margin-bottom:5px;} 
.m_notice dl dt a{ margin:0px 10px; color:#333;}
.m_notice dl dd{ text-align:left; position:relative; padding-left:135px; line-height:24px; color:#333; padding-right:80px; font-size:13px; }
.m_notice dl dd .time{  color:#999; left:0px; position:absolute; text-align:left; padding-left:20px; }
.m_notice dl dd .all { line-height: 20px; color: #999; background-color: #FFF; height: 20px; padding: 0px 10px;  cursor: pointer; position:absolute; right:0px; top:0px; border:#e5e5e5 1px solid; border-radius:3px; -webkit-border-radius:3px; font-size:12px;}
.m_notice dl dd .all i { width:8px; height:4px; display:inline-block; margin-left: 4px; vertical-align:3px; background:url(../../images/default/icon.png) no-repeat;}
.m_notice dl dd .all i.icon_shouqi{ background-position:0px -14px;}
.m_notice dl dd .all i.icon_zhankai{ background-position:0px 0px; }
.m_notice dl dd.hover{ height:26px; overflow:hidden; }


.order_step {width: 100%; padding:20px 0;}
.order_step ul {width: 100%; float: left; display: block;}
.order_step ul li { width: 100%; float: left;display: block;}
.order_step ul li span { float: left;display: block; font: normal 14px "微软雅黑","黑体","宋体",verdana;text-align: center;line-height: 150%;}
.order_step ul li span b { font-weight: normal; color: #999;}
.order_step li span { width: 232px;}
.process_icon { background-image: url(../../images/default/process_slide.png); background-repeat: no-repeat; height: 30px;}
.processStep1,.refundProcessStep1 {background-position: 0 0;}
.processStep2,.refundProcessStep2 {background-position: 0 -30px !important;}
.processStep3,.refundProcessStep3 { background-position: 0 -60px !important;}
.processStep4,.refundProcessStep4 {background-position: 0 -90px !important;}


.mbshop_userCenterOrderProcessBarter li span {
  width: 160px;
}
.mbshop_PrepayProcessStep1 {
  background-position: 0 0;
}

.mbshop_barterProcessStep1 {
  background-position: 0 -120px !important;
}

.mbshop_barterProcessStep2 {
  background-position: 0 -150px !important;
}

.mbshop_barterProcessStep3 {
  background-position: 0 -180px !important;
}

.mbshop_barterProcessStep4 {
  background-position: 0 -210px !important;
}

.mbshop_barterProcessStep5 {
  background-position: 0 -240px !important;
}

.mbshop_barterProcessStep6 {
  background-position: 0 -270px !important;
}
  .active_address{
        width:100%;
    }
    .active_address li{
        width:100%;
        height:80px;
        border: #eee 1px solid;
        padding:20px;
        box-sizing:border-box;
    }
    #select_express{
            padding: 10px 20px 0;
            font-size: 13px;
    }
    #select_express dd{
            float: left;
            padding-right: 5px;
            vertical-align: middle;
    }
    #select_express dd a {
    white-space: nowrap;
    display: block;
    min-height: 24px;
    padding: 1px 5px;
    border: 1px solid #DDD;
    cursor: pointer;
    position: relative;
    background-color: #FFF;
    font-size: 12px;
    color: #999;
    line-height: 24px;
}
#select_express  a.hovered {
    color: #e61d47;
    text-decoration: none;
    border: 2px solid #e61d47;
    padding: 0px 4px;
}
#select_express dd a.hovered i {
    font-size: 0;
    line-height: 0;
    background: url(../../images/default/icon.png) no-repeat -107px -58px;
    display: block;
    width: 11px;
    height: 11px;
    position: absolute;
    z-index: 1;
    right: 0px;
    bottom: 0px;
}
#select_express a i {
    display: none;
}
.member_table .child_table tbody{
    border:none;
}
.ui-tooltips {
}
.userWap .userContent div {
    padding: 4px 0;
}
.ui-tooltips {
    width: 160px;
    position: absolute;
    z-index: 10;
    padding: 5px 15px 5px 10px;
    border-width: 1px;
    border-style: solid;
    word-break: break-all;
    border-color: #d6d6d6;
    background-color: #fff;
    font-size: 14px;
    line-height: 1.5;
    color: inherit;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,.15);
    box-shadow: 0 0 3px rgba(0,0,0,.15);
    right: 110px;
    top: 95px;
}
.ui-tooltips.arrow-top-left:before {
    position: absolute;
    width: 0;
    height: 0;
    content: ' ';
    border: solid transparent;
    pointer-events: none;
    left: -6px;
    border-right-color: #d6d6d6;
    margin-left: -6px;
    top: 0px;
    border-width: 6px;
}
.ui-tooltips .close, .ui-tooltips .close:active, .ui-tooltips .close:hover {
    position: absolute;
    top: 2px;
    right: 3px;
    font: 16px/1 Arial;
    color: #ccc;
    font-weight: 400;
    text-decoration: none;
}
.ui-tooltips a{
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font-size: 100%;
    font-family: tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,"\5FAE\8F6F\96C5\9ED1","\5B8B\4F53",sans-serif;
    color:#e61d47;
}
.page_left{
    width:730px;
    float:left;
}
.page_right{
    width:178px;
    height:400px;
    float:right;
    padding:0px 10px;
    border:1px solid #e8e8e8;
}
.page_right h4{
    padding:10px 0px;
    border-bottom: 1px solid #e8e8e8;
}
.page_right p{
    margin-top:10px;
    color:#999;
    font-size:12px;
}
.page_right p span{
    padding-left:10px;
}
.exchange_type{
    clear:both;
    width:100%;
    height:400px;
    text-align:center;
    margin-top:50px;
}
.exchange_type dd{
    display:inline-block;
    width:153px;
    height:73px;
    background-color:#FFF5E5;
    text-align:center;
    line-height:75px;
    font-size:18px;
    color:#B14C1E;
    border:1px solid #FFE7C3;
    border-radius: 3px;
    margin-left:50px;
}
.exchange_type dd:first-child{
    margin-left:0px;
}
.exchange_type dd a{
    display:block;
    width:153px;
    height:73px;
    color:#B14C1E;
}
    .m_form li span{width:120px;}
    .load {
    background: #fff none repeat scroll 0 0;
    left: 0;
    margin-top: -11px;
    opacity: 0.7;
    padding-left: 0px;
    position: absolute;
    top: 0;
    width: 63px;
}
.but_4 {
    background: #f08200 none repeat scroll 0 0;
    border-radius: 6px;
    color: #fff;
    display: inline-block;
    font: 1.2em/32px "微软雅黑";
    height: 32px;
    margin-left: 10px;
    padding: 0 10px;
    position: relative;
}
.refund_product tbody{border:0;}
.refund_product td{border:0 !important;}
.refund_product img{
    width: 60px;
    height: 60px;
}

/*m_tggl.html*/
.assets{line-height:40px;width:100%;border:1px solid #e61d47;}
.assets li{float:left;padding:0 15px;color:#6a6164;font-size:12px;}
.assets li span{font-size:14px;color:#e61d47;font-weight:bold;}
.link_box{padding:0 0 45px 45px;border-bottom:1px dashed #ccc;overflow:hidden;}
.link_code{width:640px;border-right:1px solid #ccc;}
.link_code li{color:#293231;line-height:40px;font-size:14px;}
.link_code li span{color:#585451;}
.link_code li a{color:#21029d;margin-left:8px;}
.down_load{text-align:center;width:238px;}
/*.code_img{width:118px;height:118px;margin:0 auto 12px;background:url(../../images/default/code.jpg) no-repeat;border:1px solid #ccc;}*/
.code_img{display:block;margin-left:55px;}
.down_load a{color:#21029d;}
.code_action{padding-left:50px;}
.ad_text{line-height:72px;color:#737373;}
.code_action .icon_star{font-size:16px;color:#fb8665;position:relative;top:4px;left:10px;}
.ad_text input{width:424px;margin:0 20px 0 15px;line-height:32px;padding-left:10px;border-radius:3px;border:1px solid #ccc;}
.ad_text span{color:#737373;font-size:12px;}
.code_action .band{color:#707070;line-height:26px;}
.code_action .band span, .code_down p span{color:#B2B2B2;padding-left:15px;}
.code_down p{line-height:50px;color:#707070;}
.code_down p a{margin-left:15px;color:#21029D;}
.code_pic{border-bottom:1px dashed #ccc;}
.code_pic div[class*="code_bg"]{width:260px;text-align:center;margin-right:20px;display:inline-block;}
.code_pic div[class*="code_bg"] img{width:100%;}
.code_pic label{line-height:50px;color:#737373;}
.code_pic label input{margin-right:10px;position:relative;top:2px;}
.code_btn{padding:15px 0 45px 30px;}
.code_btn .btn1{width:54px;line-height:34px;background:#67bd76;display:inline-block;text-align:center;font-size:14px;color:#ffffff;border:1px solid #ccc;border-radius:2px;}
.code_btn .btn2{width:54px;line-height:34px;display:inline-block;text-align:center;font-size:14px;color:#323232;background:#fff;border:1px solid #ccc;border-radius:2px;}
/*弹出层*/
.mask{position:fixed;background:rgba(0,0,0,.3);display:none;top:0;left:0;}
.alert_box{width:760px;top:50%;left:50%;display:none;background:#fff;position:fixed;border:1px solid #ccc;}
.alert_box>h3{padding:0 20px;line-height:52px;background:#f4f5f9;}
.alert_box .close_btn{width:19px;height:19px;background:url(../../images/default/close-btn.png) no-repeat;margin-top:15px;}
.table_box{width:725px;border:1px solid #e8e8e8;margin:40px auto 0;}
.table_box table{width:100%}
.table_box th{line-height:40px;background:#f4f5f9;font-size:14px;color:#6c6c6c;}
.table_box tr{border-bottom:1px solid #e8e8e8;}
.table_box td{text-align:center;font-size:16px;color:#6a6a6a;line-height:40px;}
.table_box td a{width:15px;height:15px;background:url(../../images/default/down.jpg) no-repeat;display:block;margin:0 auto;}
.alert_box>p{line-height:38px;padding-left:16px;font-size:14px;color:#8d8d8d;border:none;margin-bottom:50px;}
.close_box{height:47px;width:100%;background:#f4f5f9;padding-top:17px;}
.close_box a{width:106px;line-height:32px;margin:0 auto;text-align:center;color:#fff;background:#44b549;font-size:12px;border-radius:3px;display:block;}


/*m_wddjhhr.html*/


.refresh{width:30px;height:28px;dipaly:inline-block;margin-right:4px;background:url(../../images/default/Refresh.png) no-repeat center center;border:1px solid #ccc;}
.no{padding:0 10px;position:relative;line-height:28px;margin-right:4px;border:1px solid #ccc;font-size:12px;color:#747474;text-align:center;}


.export{width:68px;line-height:28px;text-align:center;border:1px solid #ccc;font-size:12px;color:#707070;margin-right:4px;}
.btn_group .action{padding:0 10px;position:relative;line-height:28px;border:1px solid #ccc;font-size:12px;text-align:center;color:#a3a3a3;}
.ask_icon{width:16px;height:16px;background:url(../../images/default/ask.png) no-repeat;margin-left:6px;margin-top:6px;}
.arrow_b{width:0;height:0;margin-left:4px;border-left:4px solid transparent;border-right: 4px solid transparent;border-top: 8px solid #bcc1c7;display:inline-block;;}
.arrow_b.cur{border-top-color:#e61d47;}
.arrow_t{width:0;height:0;margin-left:4px;border-left:4px solid transparent;border-right: 4px solid transparent;border-bottom: 8px solid #bcc1c7;display:inline-block;}
.arrow_t.cur{border-bottom-color:#e61d47;}
.name{padding:0 10px;line-height:28px;border:1px solid #ccc;text-align:center;color:#707070;position:relative;}
.name .down_menu, .no .no_down, .action .action_down{position:absolute;background:#fff;width:100%;z-index:10;left:-1px;border:1px solid #ccc;border-top:none;display:none;}
.name .down_menu li, .no .no_down li, .action .action_down li{height:28px;border-top:1px solid #ccc;}

.search_box input{width:286px;line-height:28px;border:1px solid #ccc;padding-left:10px;}
.search_box .search_btn{width:30px;border:1px solid #ccc;height:28px;background:url(../../images/default/search.png) no-repeat center center;}
.table_box .tab_hd{width:36px;height:36px;}
.table_box th{position:relative;}
.table_box th .arrow_b{position:absolute;top:22px;}
.table_box th .arrow_t{position:absolute;top:12px;}
.table_box td{height:48px;line-height:24px;}

/*m_wdtgtc.html*/
.page{margin-top:15px;}
.page ul{}
.page li{float:left;padding:8px 12px;margin-left:6px;border:1px solid #ccc;text-align:center;}
.page li a{color:#323232;font-family:'宋体';width:100%;font-weight:900;height:100%;display:block;}
.page li:hover{border-color:#e61d47;}
.page li:hover a{color:#e61d47;}
.page li.currentpage{border-color:#e61d47;color:#e61d47;}
/*dm_wdtgtc.html*/
.table_type, .table_shop{border:1px solid #ccc;}
.table_type th{line-height:34px;background:#f5f5f5;color:#626262;border-right:1px solid #ccc;font-size:12px;position:relative;}
.table_type th:last-of-type{border-right:none;}
.ding_down, .zhuang_down{position:absolute;background:#fff;display:none;width:100%;border:1px solid #ccc;border-bottom:none;}
.ding_down li, .zhuang_down li{line-height:34px;border-bottom:1px solid #ccc;}

.b_arrow{width:8px;height:5px;display:inline-block;margin-left:8px;background:url(../../images/default/icon.png) no-repeat -403px -100px;}
.tab_hd{line-height:34px;background:#f5f5f5;font-size:12px;}
.tab_hd em{padding:0 15px;color:#a7a7a7;}
.tab_hd em span{color:#000;margin-left:6px;}
.table_shop td{text-align:center;border-right:1px solid #ccc;}
/*.table_shop td:last-of-type{border-right:none;}*/
.tb_img{width:60px;height:60px;border:1px solid #ccc;margin:15px;}
.tb_img img{width:60px;height:60px;}
.info p{width:240px;margin-top:18px;line-height:20px;text-align:left;color:#000;}
.info span{font-size:12px;color:#aba9aa;margin:18px 0 0 90px;}
.table_shop .money, .table_shop .action{color:#ccc;}
.money div:nth-of-type(1){padding:0 6px;border-bottom:1px solid #ccc;}
.money div{line-height:20px;}

/*md_xgtj*/
.time{margin-bottom:20px;}
.time .data{padding:0 10px;line-height:28px;position:relative;border:1px solid #ccc;color:#676767;margin-right:4px;}
.data_down, .search_data_down{position:absolute;display:none;background:#fff;width:100%;border:1px solid #ccc;border-bottom:none;left:-1px;}
.data_down li, .search_data_down li{border-bottom:1px solid #ccc;text-align:center;}


.data .icon_data{width:16px;height:16px;background:url(../../images/default/tear.png) no-repeat;display:inline-block;position:relative;top:3px;margin-right:6px;}
.time .search_data{line-height:28px;position:relative;border:1px solid #ccc;padding:0 10px;color:#676767;}



.more_info h3{line-height:36px;color:#000;font-weight:bold;font-size:14px;border-bottom:2px solid #ccc;}
.more_info tr{border-bottom:1px solid #ccc;}
.more_info td{text-align:center;padding-bottom:8px;}
.info1{width:26%;}
.info2{width:26%;}
.info3{width:20%;}
.info4{width:28%;}
.info1 a{width:52px;height:45px;display:block;margin:30px auto 8px;}
.info1 span{color:#71bfcc;}
.more_info p{color:#6e6e6e;padding-top:25px;font-size:14px;font-weight:bold;}
.info1_img3 a{width:57px;height:51px;}
.info1_img2 a{width:32px;height:41px;}